# Конфиденциальные данные и окружение
/.env
/.env.local
/.env.dev
/.env.local.php
/.env.*.local
!/.env.example
!/.env.test

# Секреты
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/dev/dev.decrypt.private.php

# Временные и кеш файлы
/var/
/vendor/
/public/bundles/
/public/assets/
/assets/vendor/
.phpunit.result.cache
/.platform/
/.composer/
/data/

# Docker
/compose.override.yaml
/compose.override.yml

# Автоматически созданные файлы
/phpunit.xml

# IDE и редакторы
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db