<div class="site-footer">
    <p>&copy; {{ "now"|date("Y") }} choven.by</p>
    <ul>
        <li><a href="#">Политика конфиденциальности</a></li>
        <li><a href="#">Условия использования</a></li>
    </ul>
</div>