<div class="site-header">
    <nav>
        <ul>
            <li><a href="{{ path('app_main') }}">Главная</a></li>
            <li><a href="#">Техника безопасности</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
    </nav>
</div>