<section class="about-section" style="background-color: #f9f9f9;">
    <div class="container">
        <h2 class="section-title">{{ 'about.photogallery.title'|trans }}</h2>
        
        <div class="gallery-container">
            {% if images is defined and images is not empty %}
                {% for image_path in images %}
                    <div class="gallery-item">
                        {# Generatign alt-text for SEO-availability #}
                        {% set alt_text = image_path|split('/')|last|split('.')|first|replace({'_': ' ', '-': ' '})|title %}
                        <img src="{{ asset(image_path) }}" alt="{{ alt_text }}">
                    </div>
                {% endfor %}
            {% else %}
                <p style="text-align: center;">{{ 'about.photogallery.no_images'|trans }}</p>
            {% endif %}
        </div>
    </div>
</section>